# databases mysql pgsql..
tmp/

src/data/*

Dockerfile
docker-config/
docker-compose.yml
docker-compose.yaml
Homestead.json
Homestead.yaml
npm-debug.log
node_modules/
public/hot/
public/storage/
vendor/
storage/*.key
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
yarn-error.log

.env*
.idea
.phpunit.result.cache

**.git
**.gitignore
**.gitattributes
**.sass-cache

*.md
!README*.md
README-secret.md
