@use './var' as *;

.button-group {
  display: flex;
  gap: 1px;
  border-radius: $border-radius;
  background-color: $c-g-300;
  border: 1px solid $c-g-500;

  &:hover {
    border-color: $c-g-700;
  }

  &.sm {
    gap: 0;
  }

  &>* {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    border: 0;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: $c-g-700;
    color: $c-g-50;

    &:hover {
      background-color: $c-g-300;
      color: $c-g-950;
    }

    &.disabled {
      background-color: $c-g-100;
      color: $c-g-300;
      cursor: not-allowed;
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  &.primary {
    background-color: $c-p-300;
    border-color: $c-p-500;

    &:hover {
      border-color: $c-p-700;
    }

    &>* {
      background-color: $c-p-700;

      &:hover {
        background-color: $c-p-300;
        color: $c-p-950;
      }

      &.disabled {
        background-color: $c-p-100;
        color: $c-p-300;
      }
    }
  }

  &.danger {
    background-color: $c-d-300;
    border-color: $c-d-500;

    &:hover {
      border-color: $c-d-700;
    }

    &>* {
      background-color: $c-d-700;

      &:hover {
        background-color: $c-d-300;
        color: $c-d-950;
      }

      &.disabled {
        background-color: $c-d-100;
        color: $c-d-300;
      }
    }
  }

  &.success {
    background-color: $c-s-300;
    border-color: $c-s-500;

    &:hover {
      border-color: $c-s-700;
    }

    &>* {
      background-color: $c-s-700;

      &:hover {
        background-color: $c-s-300;
        color: $c-s-950;
      }

      &.disabled {
        background-color: $c-s-100;
        color: $c-s-300;
      }
    }
  }

  &.warning {
    background-color: $c-w-300;
    border-color: $c-w-500;

    &:hover {
      border-color: $c-w-700;
    }

    &>* {
      background-color: $c-w-700;

      &:hover {
        background-color: $c-w-300;
        color: $c-w-950;
      }

      &.disabled {
        background-color: $c-w-100;
        color: $c-w-300;
      }
    }
  }

  &.sm>* {
    font-size: $font-size-base - 0.1;
    padding: 0.125rem 0.25rem;
  }

  &.lg>* {
    font-size: $font-size-base + 0.1;
    padding: 0.375rem 0.75rem;
  }
}