@use "./var" as *;

.symbol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.stream-currency {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: $font-size-base * 1.5;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}
