@use './var' as *;

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: grid;
  background-color: $c-g-100;
  border: 1px solid $c-g-500;
  border-radius: $border-radius;
  padding: 1.5rem;
  gap: calc(1rem + 1.5rem);

  &-field {
    display: grid;

    & > label {
      font-size: 1rem;
      color: $c-i-500;
    }

    & > input {
      height: 3rem;
      width: 100%;
      background-color: $c-g-50;
      border-radius: $border-radius;
      border: 1px solid $c-g-500;
      font-size: 2rem;
      padding: 0.5rem;
      color: $c-g-500;
    }
  }
}

@media (max-width: 640px) {
  .login-page {
    padding: 0.5rem;
  }

  .login {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}
