@use './var' as *;

#notifications {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column-reverse;
  /* new up */
  gap: 0.5rem;
  z-index: 1034;
}

.notification {
  background-color: $c-g-900;
  color: $c-g-100;
  padding: 1.0rem 1.5rem 1.0rem 0.55rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  min-width: 250px;
  position: relative;
  animation: fadeIn 0.3s ease;

  &>i {
    font-size: $font-size-base - 0.2rem;
  }

  &:hover {
    background-color: $c-g-950;
    color: $c-g-50;
  }

  & button {
    position: absolute;
    top: 0.0rem;
    right: 0.25rem;
    background: none;
    border: none;
    color: $c-g-500;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      color: $c-g-50;
    }
  }

  &.danger {
    background-color: $c-d-900;
    color: $c-d-100;

    &:hover {
      background-color: $c-d-950;
      color: $c-d-50;
    }

    &>button {
      color: $c-d-500;

      &:hover {
        color: $c-d-300;
      }
    }
  }

  &.info {
    background-color: $c-i-900;
    color: $c-i-100;

    &:hover {
      background-color: $c-i-950;
      color: $c-i-50;
    }

    &>button {
      color: $c-i-500;

      &:hover {
        color: $c-i-300;
      }
    }
  }

  &.success {
    background-color: $c-s-900;
    color: $c-s-100;

    &:hover {
      background-color: $c-s-950;
      color: $c-s-50;
    }

    &>button {
      color: $c-s-500;

      &:hover {
        color: $c-s-300;
      }
    }
  }

  &.primary {
    background-color: $c-p-900;
    color: $c-p-100;

    &:hover {
      background-color: $c-p-950;
      color: $c-p-50;
    }

    &>button {
      color: $c-p-500;

      &:hover {
        color: $c-p-300;
      }
    }
  }

  &.warning {
    background-color: $c-w-900;
    color: $c-w-100;

    &:hover {
      background-color: $c-w-950;
      color: $c-w-50;
    }

    &>button {
      color: $c-w-500;

      &:hover {
        color: $c-w-300;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}