@use 'var';
@use 'themes';
@use 'normalize';

@use 'button';
@use 'currency';
@use 'donate';
@use 'footer';
@use 'icon';
@use 'index';
@use 'input-btn';
@use 'line';
@use 'login';
@use 'modal';
@use 'nav';
@use 'spotbot';
@use 'switch';
@use 'table';

@use 'media';
@use 'layout';
@use 'utils';

html {
  font-size: var.$font-size-base;
}

body {
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: var.$c-g-50;
  color: var.$c-g-950;
  transition: background 0.3s ease;
}

.params-locked {
  pointer-events: none;
  opacity: 0.55;
}

.color-primary {
  color: var.$c-p-500;
  background-color: var.$c-p-100;
}

.color-success {
  color: var.$c-s-500;
  background-color: var.$c-s-100;
}

.color-secondary {
  color: var.$c-g-500;
  background-color: var.$c-g-100;
}

.color-warning {
  color: var.$c-w-500;
  background-color: var.$c-w-100;
}