@use 'var';
@use 'themes';
@use 'normalize';

@use 'button';
@use 'currency';
@use 'footer';
@use 'icon';
@use 'input-btn';
@use 'line';
@use 'login';
@use 'nav';
@use 'notifications';
@use 'switch';
@use 'table';

@use 'media';
@use 'layout';

html {
  font-size: var.$font-size-base;
}

body {
  padding: 0px;
  padding-bottom: 2.5rem;
  background-color: var.$c-g-50;
  color: var.$c-g-950;
  transition: background 0.3s ease;
}

.params-locked {
  pointer-events: none;
  opacity: 0.55;
}

.color-primary {
  color: var.$c-p-500;
  background-color: var.$c-p-100;
}

.color-success {
  color: var.$c-s-500;
  background-color: var.$c-s-100;
}

.color-secondary {
  color: var.$c-g-500;
  background-color: var.$c-g-100;
}

.color-warning {
  color: var.$c-w-500;
  background-color: var.$c-w-100;
}

.server-address {
  padding: 1rem 0;
  // text-align: center;
  font-size: 1.5rem;

  &>span {
    color: var.$c-p-700;
  }
}

.api-keys {
  display: grid;
  gap: 2.5rem;

  & a {
    text-decoration: underline;
    color: var.$c-w-700;
  }

  &__group {
    display: grid;
    // width: 100%;
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
  }

}